figure {
  margin: 0;
  line-height: 0;
}

html,
body {
  font-weight: 500;
}


.Home {
  display:block;
  padding: 2rem 0;
}

.housesContainer {
  display:block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.headlineSection {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.categories {
  color: #F59E0B;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;

  &:before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #F59E0B;
    position: absolute;
    left: -.5rem;
    top: 5px;
    transform: translateX(-100%);
  }
}

.headline {
  font-size: 2rem;
  font-weight: 600;
}

.housesContainer {
  display: block;
}

.filter {
  margin-left: 3rem;
  margin-bottom: 27px;

  button {
    color: #888B97;
    background-color: white;
    font-size: .85rem;
    border: solid 1px #E0E3EB;
    margin: 0 .5rem;
    padding: .75rem 1.2rem;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
      color: #10B981;
    }
    &.active {
      color: #10B981;
      background-color: #D1FAE5;
      border-color: #D1FAE5;
    }
  }
}

